/* Main ==================================== */
/* Kintamieji */
/* Failu importai */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
/* reset ==================================== */
* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: white;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  padding-bottom: 1000px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Common ==================================== */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}

/* Header start ============== */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  padding-bottom: 150px;
}

.logo {
  display: inline-block;
  padding: 1rem 0;
}

.burger {
  color: #999999;
  height: 22px;
  width: 24px;
}

.main-nav {
  display: inline-block;
  right: 80px;
  left: 100px;
}

.main-nav__item {
  display: none;
}
.main-nav__item:nth-child(4) {
  color: #ff3998;
}

/* Hero start ============== */
.hero {
  display: flex;
  flex-direction: auto;
  justify-content: space-between;
  -moz-column-gap: 0px;
       column-gap: 0px;
  padding-bottom: 150px;
}
.hero .left .subtitle {
  color: pink;
  font-weight: 700;
  font-size: 16px;
}
.hero .left .title {
  font-weight: 900;
  font-size: 48px;
}
.hero .left .text {
  color: #555555;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.hero .left .btn {
  color: #111111;
  font-size: 20px;
  height: 75px;
  width: 188px;
  border-radius: 100rem;
  padding: 1rem;
  padding: 0.5rem 3rem;
  color: black;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(0deg, #FF8139, #FF8139, #FF8139, rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  border-radius: 100px;
}
.hero .left .btn:hover {
  box-shadow: none;
  color: white;
}

.right {
  position: absolute;
  left: 80%;
  transform: translate(-80%, 0);
}

/* Hero end ============== */
/* Upsell start ============== */
.upsell {
  background: url("../img/background.svg") no-repeat;
  height: 326px;
  margin-bottom: 150px;
  /* Upsell end ============== */
}
.upsell h2 {
  font-weight: 500;
  font-size: 40px;
  padding-left: 2rem;
  padding-top: 2rem;
}
.upsell p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding-left: 2rem;
}

/* Social start ============== */
.soc {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.soc .icon {
  width: 160px;
  height: 36px;
}

/* Social end ============== */
/* Bottom responsive import ==================================== */
@media screen and (min-width: 428px) {
  .main-nav__item {
    display: inline-block;
    padding: 0.5em 1em;
  }

  .burger {
    display: none;
  }

  .container {
    padding: 70px 80px 0 80px;
  }

  .hero .container .left .title {
    font-weight: 900;
  }
}/*# sourceMappingURL=main.css.map */