/* Main ==================================== */
/* Kintamieji */
/* Failu importai */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
/* reset ==================================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
}

html {
  background-color: white;
}

body {
  padding-bottom: 1000px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Common ==================================== */
.container {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  border: none;
  max-width: 1280px;
  margin: 0 auto;
  padding: 70px 80px;
  width: 100%;
  height: auto;
}

/* Header start ============== */
.header {
  padding-bottom: 182px;
  height: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  font-weight: 400;
  font-size: 28px;
  line-height: 33.71px;
}
.header .main-nav .main-nav__item {
  display: none;
  padding-left: 28px;
}
.header .main-nav .main-nav__item:nth-child(4) {
  color: #ff3998;
}
.header .main-nav .burger {
  padding: 0;
  margin: 0;
  color: #999999;
  height: 22px;
  width: 24px;
}

/* Hero start ============== */
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 182px;
}
.hero .left {
  flex-basis: 68%;
}
.hero .left .subtitle {
  color: #FF3998;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.36px;
  padding-bottom: 24px;
  text-transform: uppercase;
}
.hero .left .title {
  color: #111111;
  font-weight: 900;
  font-size: 96px;
  line-height: 116.18px;
  margin: 0;
  padding-bottom: 32px;
}
.hero .left p {
  width: 537px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #555555;
  padding-bottom: 40px;
}
.hero .left .btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #111111;
  height: 75px;
  width: 188px;
  border-radius: 50px;
  background-color: #fff;
}
.hero .right {
  position: absolute;
}
.hero .right .img {
  position: relative;
  top: -4rem;
  left: 630px;
  width: 80%;
  height: 100%;
  padding-bottom: 200px;
}

/* Upsell start ============== */
.upsell {
  background: url("../img/background.svg") no-repeat;
  background-position: center;
  height: 320px;
  padding-bottom: 120px;
}
.upsell .text {
  padding-top: 154px;
  padding-left: 144px;
}
.upsell .text h2 {
  color: #111111;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
}

/* Press start ============== */
.press {
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
}

/* Showcase ============== */
.showcase {
  padding-bottom: 120px;
}
.showcase .text {
  padding-bottom: 56px;
}
.showcase .cards {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.showcase .cards .card {
  background-color: #EEEEEE;
  border-color: #EEEEEE;
  border-radius: 16px;
}
.showcase .cards .card .c-info {
  display: flex;
  flex-direction: row;
}
.showcase .cards .card .c-info .left {
  padding: 24px 12px 24px 24px;
}
.showcase .cards .card .c-info .left h4 {
  color: #FF8139;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  padding-bottom: 12px;
}
.showcase .cards .card .c-info .left h3 {
  color: #111111;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  padding-bottom: 12px;
}
.showcase .cards .card .c-info .left p {
  color: #777777;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}
.showcase .cards .card .c-info .right {
  padding: 24px 24px 24px 12px;
  text-align: right;
}
.showcase .cards .card .c-info .right h4 {
  color: #777777;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
}
.showcase .cards .card .c-info .right img {
  width: 13px;
  height: 22px;
}
.showcase .cards .card .c-info .right h3 {
  display: inline;
  color: #111111;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}
.showcase .cards .card .c-info .right p {
  padding-top: 12px;
  color: #777777;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

/* Footer upsel ============== */
.footer-upsell .divider {
  border-bottom: 2px solid #EEEEEE;
  margin-bottom: 120px;
}
.footer-upsell .f-u {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-upsell .f-u .left .subtitle {
  color: #FF3998;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.36px;
  padding-bottom: 24px;
  text-transform: uppercase;
  margin: 0;
}
.footer-upsell .f-u .left .title {
  display: block;
  font-weight: 900;
  font-size: 56px;
  line-height: 67.77px;
  margin: 0;
  padding-bottom: 40px;
}
.footer-upsell .f-u .left p {
  width: 537px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #555555;
  padding-bottom: 40px;
}
.footer-upsell .f-u .left .btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #111111;
  height: 75px;
  width: 188px;
  border-radius: 50px;
  background-color: #fff;
  margin-bottom: 120px;
}
.footer-upsell .f-u .right {
  position: absolute;
}
.footer-upsell .f-u .right .img {
  position: relative;
  top: -1rem;
  left: 850px;
  width: 100%;
}

/* Footer ============== */
.footer .divider {
  border: 0;
  padding: 0;
  border-bottom: 2px solid #EEEEEE;
  margin-bottom: 120px;
}
.footer .flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .flex .left .logo img {
  width: 12.375rem;
  height: 2.25rem;
  padding-bottom: 1.875rem;
}
.footer .flex .left p {
  margin: 0.2rem;
  padding-bottom: 2rem;
}
.footer .flex .left .social i {
  padding-right: 0.5rem;
}
.footer .flex .right {
  display: flex;
  gap: 100px;
  padding-bottom: 123px;
}
.footer .flex .right div p:nth-child(1) {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.36px;
  color: #555555;
  padding-bottom: 28px;
  margin: 0;
  letter-spacing: 10%;
}
.footer .flex .right a {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #555555;
}
.footer .bottom {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}

/* Bottom responsive import ==================================== */
@media screen and (min-width: 428px) {
  .header .main-nav .main-nav__item {
    display: inline-block;
  }
  .header .main-nav .burger {
    display: none;
  }

  .hero {
    width: 50%;
  }
  .hero .left {
    flex-basis: 50%;
  }
  .hero .right img {
    width: 50%;
    margin: 0px auto;
    display: block;
    height: auto;
  }
}/*# sourceMappingURL=main.css.map */