/* Bottom responsive import ==================================== */

@media screen and (min-width: 428px) {
    .main-nav__item {
        display: inline-block;
        padding: 0.5em 1em;
    }
    .burger {
        display: none;
    }
}