/* Main ==================================== */


/* Kintamieji */


/* Failu importai */

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import 'reset';
@import 'fonts';
@import 'common';
@import 'vars';

/* Header start ============== */

.header {
    padding-bottom: 182px;
    height: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        font-weight: 400;
        font-size: 28px;
        line-height: 33.71px;
    }
    .main-nav {
        .main-nav__item {
            display: none;
            padding-left: 28px;
            &:nth-child(4) {
                color: #ff3998
            }
        }
        .burger {
            padding: 0;
            margin: 0;
            color: #999999;
            height: 22px;
            width: 24px;
        }
    }
}


/* Hero start ============== */

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 182px;
    .left {
        // width: 620px;
        // height: 232px;
        flex-basis: 68%;
        .subtitle {
            color: #FF3998;
            font-weight: 700;
            font-size: 16px;
            line-height: 19.36px;
        }
        .title {
            color: #111111;
            font-weight: 900;
            font-size: 96px;
            line-height: 116.18px;
            margin: 0;
            padding-bottom: 32px;
        }
        p {
            width: 537px;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #555555
        }
        .btn {
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #111111;
            height: 75px;
            width: 188px;
            border-radius: 50px;
            background-color: #fff;
        }
    }
    .img {
        // width: 100px;
        // position: relative;
        // width: 354px;
        // height: 700px;
        // left: 0;
        // top: 0;
        // background: url('../img/graphic.svg') no-repeat center center;
        // background-size: contain;
    }
}


/* Upsell start ============== */

.upsell {
    background: url('../img/background.svg') no-repeat center center;
    background-size: cover;
    height: 320px;
    .text {
        padding-top: 154px;
        padding-left: 64px;
        h2 {
            color: #111111;
            font-weight: 500;
            font-size: 40px;
            line-height: 48.41px
        }
    }
}

@import '_responsive';